.social-icons{
    text-align: center;
    padding-bottom: 20px;
}

.social-icons > h1 {
    margin-bottom: 25px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:20px;
    border: 1px solid black;
    color: black;
}

.social-circle li a:hover {
    opacity: .7;
    transition: .2;
}

.social-circle li i {
	margin:0;
	line-height:50px;
    text-align: center;
}
li{
	list-style-type: none;
}
ul{
	list-style-type: none;
}